<div class="container">
  <div>
    <h1>Settings for {{ user.username }}</h1>
    <br>
    <div id="alert-container"></div>
    <form id="settings-form">
      <input type="hidden" name="id" value="{{ user.id }}">
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="Phone Number" {{#if user.phone_number}}value="{{ user.phone_number }}"{{/if}}>
      </div>

      <div class="form-group">
        <label for="emailAddress">Email Address</label>
        <input type="email" class="form-control" id="email_address" name="email" placeholder="Email Address"{{#if user.email}}value="{{ user.email }}"{{/if}}>
      </div>

      <h3>Alerting Preferences</h3>
      <h4>How should BorrowBot alert me?</h4>
      <div class="radio">
        <label>
          <input type="radio" name="alert_type" id="alert_none" value="none" {{check_if user.alert_type 'none'}}>
          Don't alert me, I don't want to hear from you.
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="alert_type" id="alert_email" value="email" {{check_if user.alert_type 'email'}}>
          Alert me via email, I check those things.
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="alert_type" id="alert_sms" value="sms" {{check_if user.alert_type 'sms'}}>
          BorrowBot, you better text me those loans.
        </label>
      </div>
      <h4>Alert me when BorrowBot finds loans of this grade:</h4>
      <div class="checkbox">
        <label>
          <input type="checkbox" id="grade_aaa" name="grade_aaa" value="1" {{check_if user.grade_aaa 1}}> <span class="label label-success">AAA</span>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" id="grade_aa" name="grade_aa" value="1" {{check_if user.grade_aa 1}}> <span class="label label-success">AA</span>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" id="grade_a" name="grade_a" value="1" {{check_if user.grade_a 1}}> <span class="label label-success">A</span>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" id="grade_b" name="grade_b" value="1" {{check_if user.grade_b 1}}> <span class="label label-warning">B</span>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" id="grade_c" name="grade_c" value="1" {{check_if user.grade_c 1}}> <span class="label label-warning">C</span>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" id="grade_d" name="grade_d" value="1" {{check_if user.grade_d 1}}> <span class="label label-danger">D</span>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" id="grade_f" name="grade_f" value="1" {{check_if user.grade_f 1}}> <span class="label label-danger">F</span>
        </label>
      </div>
      <br>
      <button type="submit" id="save-settings" class="btn btn-default">Save</button>
    </form>
    <br>
  </div>
</div><!-- /.container -->
